// 顏色變數
$primaryColor: #F6F5F1; // 主色
$secondColor-1: #9FC3E7; // 輔色-1(淺)
$secondColor-2: #4F82D4; //輔色-2(深)
$secondColor-3: #0F125C;
$accnetColor-1: #F4DA7B; // 強調色-1
$accnetColor-2: #FFC800; // 強調色-2(彩度較高)
$black: #051022; // 黑色(不使用#000)
