// 顏色變數
$primaryColor: #F6F5F1; // 主色
$secondColor-1: #9FC3E7; // 輔色-1(淺)
$secondColor-2: #4F82D4; //輔色-2(深)
$secondColor-3: #0F125C;
$accentColor-1: #F4DA7B; // 強調色-1
$accentColor-2: #FFC800; // 強調色-2(彩度較高)
$black: #051022; // 黑色(不使用#000)
$gray: #888; //灰色(時間、ID等次要文字)
$grey: #888; //灰色(時間、ID等次要文字)

// 區塊背景色　搭配primary
$subtle-bgDrop: #eeeeee;
$accent-bgDrop: #F9DD7A; //黃色底色
$accent-bgDrop-2: #f8cf3a; //黃色底色
