<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cid101/g6/front
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /cid101/g6/front/index.html [L]
</IfModule>