// 網格系統mixins
// 手機/平板直式：768px以下
@mixin grid($value) {
    @for $i from 1 through $value {
        .col-#{$i} {
            // width: calc($i/$value) * 100%;
            width: math.div($i , $value) * 100%;
        }
    }
}

// 平板橫向：1024px以下; min-width: 768px
@mixin grid-md($value) {
    @for $i from 1 through $value {
        .col-md-#{$i} {
            width: math.div($i , $value) * 100%;
        }
    }
}

// 筆電版：1200px以下; min-width: 1024px
@mixin grid-lg($value) {
    @for $i from 1 through $value {
        .col-lg-#{$i} {
            width: math.div($i , $value) * 100%;
        }
    }
}

// 桌機版：1440px以下; min-width: 1200px
@mixin grid-xl($value) {
    @for $i from 1 through $value {
        .col-xl-#{$i} {
            width: math.div($i , $value) * 100%;
        }
    }
}

// 大型桌機版：min-width: 1440px
@mixin grid-xxl($value) {
    @for $i from 1 through $value {
        .col-xxl-#{$i} {
            width: math.div($i , $value) * 100%;
        }
    }
}

/*===========================================*/
// 手機/平板直式：768px以下
@mixin grid-row($value) {
    @for $i from 1 through $value {
        .row-cols-#{$i} {
            > .col {
                width: math.div(100%, $i);
            }
        }
    }
}

// 平板橫向：1024px以下; min-width: 768px
@mixin grid-row-md($value) {
    @for $i from 1 through $value {
        .row-cols-md-#{$i} {
            > .col {
                width: math.div(100%, $i);
            }
        }
    }
}

// 筆電版：1200px以下; min-width: 1024px
@mixin grid-row-lg($value) {
    @for $i from 1 through $value {
        .row-cols-lg-#{$i} {
            > .col {
                width: math.div(100%, $i);
            }
        }
    }
}

// 桌機版：1440px以下; min-width: 1200px
@mixin grid-row-xl($value) {
    @for $i from 1 through $value {
        .row-cols-xl-#{$i} {
            > .col {
                width: math.div(100%, $i);
            }
        }
    }
}

// 大型桌機版：min-width: 1440px
@mixin grid-row-xxl($value) {
    @for $i from 1 through $value {
        .row-cols-xxl-#{$i} {
            > .col {
                width: math.div(100%, $i);
            }
        }
    }
}
